@model IEnumerable<ToDoList.Models.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<h1>Tarefas</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Nova tarefa</a>
</p>
<table class="table table-striped shadow">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concluido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataAlteracao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.concluido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataAlteracao)
            </td>
            <td class="btn btn-group">
                <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.id">Editar</a>
                <a class="btn btn-outline-warning" asp-action="Details" asp-route-id="@item.id">Detalhes</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
